html {
    background-color: rgb(20,20,20);
}

body {
    background-color: rgb(26,26,26);
    box-sizing: border-box;
    color: rgb(230,179,179);
    font-family: 'Segoe UI', sans-serif;
    margin: 0 auto;
    max-width: 60em;
    min-height: 100vh;
    padding: 2em;
}

a {
    color: rgb(132,132,189);
}

h1 {
    color: rgb(208,113,113);
}

h2 {
    color: rgb(197,79,79);
}

.h-canvas {
    display: block;
    margin: 4em auto;
}

.h-label-left {
    display: inline-block;
    font-style: italic;
    vertical-align: top;
    width: 12em;
}

.h-controls {
    border: none;
    font-size: 20px;
    padding: 0;
}

.h-row {
    border: none;
    padding: 0 0 1em 0;
}

.h-group {
    border: none;
    display: inline-block;
    padding: 0;
}

.h-radio-label {
    display: inline-block;
    width: 5em;
}

.h-checkbox-label > input {
    margin-right: 10px;
}
