body {
    font-family: 'Segoe UI', sans-serif;
}

.h-canvas {
}

.h-label-left {
    display: inline-block;
    width: 12em;
}

.h-controls {
    border: none;
    font-size: 20px;
    padding: 0;
}

.h-row {
    border: none;
    padding: 0;
}

.h-group {    
    border: none;
    display: inline-block;
    padding: 0;
}

.h-radio-label {
    display: inline-block;
}

.h-checkbox-label > input {
    margin-right: 10px;
}